.shopCardsContainer {
	display: flex;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
	margin-top: 2em;
	margin-bottom: 2em;
	flex-wrap: wrap;

	.cardBox {
		display: flex;
		text-decoration: none;
		width: 25em;
		flex-direction: column;
		height: 45;
		align-items: center;
		background-color: $color-primario;
		margin-left: 3em;
		margin-right: 3em;
		margin-bottom: 1em;
		border-radius: 2em;
		overflow: hidden;
		text-align: center;
		transition: 0.4s;

		&:hover {
			background-color: $color-terciario;
			filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.425));
			transform: scale(1.01);
		}

		img {
			display: flex;
			width: 100%;
			height: fit-content;
		}

		h3 {
			display: flex;
			font-family: "Lobster", cursive;
			color: $color-secundario;
			font-size: 2rem;
			font-weight: initial;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		h4 {
			display: flex;
			font-family: "Nixie One", cursive;
			color: $color-secundario;
			font-size: 1.2rem;
			font-weight: initial;
			width: 90%;
			margin-top: 0;
		}
	}
}
