.tiendaCuadrosContainer {
	display: flex;
	width: 100%;
	align-items: center;
	height: fit-content;
	justify-content: space-evenly;
	flex-direction: column;

	.custom-shape-divider-top-1630864600 {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}

	.custom-shape-divider-top-1630864600 svg {
		position: relative;
		display: block;
		width: calc(131% + 1.3px);
		height: 49px;
	}

	.custom-shape-divider-top-1630864600 .shape-fill {
		fill: $color-primario;
	}

	.custom-shape-divider-bottom-1630864817 {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}

	.custom-shape-divider-bottom-1630864817 svg {
		position: relative;
		display: block;
		width: calc(112% + 1.3px);
		height: 38px;
	}

	.custom-shape-divider-bottom-1630864817 .shape-fill {
		fill: #f5dfd2;
	}

	.cardCuadros {
		display: flex;
		text-decoration: none;
		width: 70%;
		height: 35em;
		align-items: center;
		background-color: $color-primario;
		margin-top: 4em;
		margin-left: 3em;
		margin-right: 3em;
		margin-bottom: 3em;
		border-radius: 2em;
		overflow: hidden;
		transition: 0.4s;

		@media (max-width: 900px) {
			flex-direction: column;
			height: fit-content;
		}

		&:hover {
			filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.425));
		}

		.cardImgContainer {
			display: flex;
			width: 30%;
			height: 100%;
			justify-content: center;
			overflow: hidden;

			@media (max-width: 900px) {
				width: 100%;
				justify-content: center;
			}

			img {
				display: flex;
				height: 100%;
			}
		}

		.cardCuadrosInfo {
			display: flex;
			flex-direction: column;
			justify-content: left;
			padding: 2em;
			width: 50%;

			@media (max-width: 900px) {
				width: 90%;
				justify-content: center;
			}

			h3 {
				display: flex;
				font-family: "Lobster", cursive;
				color: $color-secundario;
				font-size: 2rem;
				font-weight: initial;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}

			h4 {
				display: flex;
				font-family: "Nixie One", cursive;
				color: $color-secundario;
				font-size: 1.2rem;
				font-weight: initial;
			}
		}

		.cardCuadrosComprar {
			display: flex;
			background-color: $color-terciario;
			flex-direction: column;
			width: 20%;
			height: 100%;
			align-items: center;
			justify-content: center;

			@media (max-width: 900px) {
				width: 100%;
				justify-content: center;
			}

			h2 {
				display: flex;
				font-family: "Lobster", cursive;
				color: $color-secundario;
				font-size: 2rem;
				font-weight: initial;
			}

			.cardCuadrosComprarBoton {
				display: flex;
				text-decoration: none;
				font-family: "Nixie One", cursive;
				padding: 0.5em;
				font-size: 1.5rem;
				color: $color-secundario;
				background-color: $color-primario;
				transition: 0.4s;
				cursor: pointer;

				@media (max-width: 900px) {
					margin-bottom: 1em;
				}

				&:hover {
					color: $color-primario;
					background-color: $color-secundario;
				}
			}
		}
	}
}
